<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Sanskar.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>3</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>E34DEEBC32E2D0818DD1403C7A51B5E9FBBC06AC</string>
				<key>dateExpires</key>
				<string>02/08/24</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E34DEEBC32E2D0818DD1403C7A51B5E9FBBC06AC</string>
						<key>dateExpires</key>
						<string>02/08/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AAPlayer.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7BMX4SN26T</string>
						<key>name</key>
						<string>SANSKAR INFO TV PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E34DEEBC32E2D0818DD1403C7A51B5E9FBBC06AC</string>
						<key>dateExpires</key>
						<string>02/08/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7BMX4SN26T</string>
						<key>name</key>
						<string>SANSKAR INFO TV PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>4.7.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E34DEEBC32E2D0818DD1403C7A51B5E9FBBC06AC</string>
						<key>dateExpires</key>
						<string>02/08/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CLTypingLabel.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7BMX4SN26T</string>
						<key>name</key>
						<string>SANSKAR INFO TV PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E34DEEBC32E2D0818DD1403C7A51B5E9FBBC06AC</string>
						<key>dateExpires</key>
						<string>02/08/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CircleProgressView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7BMX4SN26T</string>
						<key>name</key>
						<string>SANSKAR INFO TV PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E34DEEBC32E2D0818DD1403C7A51B5E9FBBC06AC</string>
						<key>dateExpires</key>
						<string>02/08/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CountryPickerView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7BMX4SN26T</string>
						<key>name</key>
						<string>SANSKAR INFO TV PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>3.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E34DEEBC32E2D0818DD1403C7A51B5E9FBBC06AC</string>
						<key>dateExpires</key>
						<string>02/08/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CryptoSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7BMX4SN26T</string>
						<key>name</key>
						<string>SANSKAR INFO TV PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E34DEEBC32E2D0818DD1403C7A51B5E9FBBC06AC</string>
						<key>dateExpires</key>
						<string>02/08/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>DropDown.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7BMX4SN26T</string>
						<key>name</key>
						<string>SANSKAR INFO TV PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.13</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E34DEEBC32E2D0818DD1403C7A51B5E9FBBC06AC</string>
						<key>dateExpires</key>
						<string>02/08/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>ExpandableLabel.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7BMX4SN26T</string>
						<key>name</key>
						<string>SANSKAR INFO TV PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.5.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E34DEEBC32E2D0818DD1403C7A51B5E9FBBC06AC</string>
						<key>dateExpires</key>
						<string>02/08/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7BMX4SN26T</string>
						<key>name</key>
						<string>SANSKAR INFO TV PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.12</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E34DEEBC32E2D0818DD1403C7A51B5E9FBBC06AC</string>
						<key>dateExpires</key>
						<string>02/08/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7BMX4SN26T</string>
						<key>name</key>
						<string>SANSKAR INFO TV PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>5.15.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E34DEEBC32E2D0818DD1403C7A51B5E9FBBC06AC</string>
						<key>dateExpires</key>
						<string>02/08/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7BMX4SN26T</string>
						<key>name</key>
						<string>SANSKAR INFO TV PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>5.15.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E34DEEBC32E2D0818DD1403C7A51B5E9FBBC06AC</string>
						<key>dateExpires</key>
						<string>02/08/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FSPagerView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7BMX4SN26T</string>
						<key>name</key>
						<string>SANSKAR INFO TV PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.8.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E34DEEBC32E2D0818DD1403C7A51B5E9FBBC06AC</string>
						<key>dateExpires</key>
						<string>02/08/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FacebookCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7BMX4SN26T</string>
						<key>name</key>
						<string>SANSKAR INFO TV PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.9.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E34DEEBC32E2D0818DD1403C7A51B5E9FBBC06AC</string>
						<key>dateExpires</key>
						<string>02/08/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FacebookLogin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7BMX4SN26T</string>
						<key>name</key>
						<string>SANSKAR INFO TV PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.9.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E34DEEBC32E2D0818DD1403C7A51B5E9FBBC06AC</string>
						<key>dateExpires</key>
						<string>02/08/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FittedSheets.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7BMX4SN26T</string>
						<key>name</key>
						<string>SANSKAR INFO TV PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.4.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E34DEEBC32E2D0818DD1403C7A51B5E9FBBC06AC</string>
						<key>dateExpires</key>
						<string>02/08/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GTMOAuth2.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7BMX4SN26T</string>
						<key>name</key>
						<string>SANSKAR INFO TV PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.6</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E34DEEBC32E2D0818DD1403C7A51B5E9FBBC06AC</string>
						<key>dateExpires</key>
						<string>02/08/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7BMX4SN26T</string>
						<key>name</key>
						<string>SANSKAR INFO TV PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.15</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E34DEEBC32E2D0818DD1403C7A51B5E9FBBC06AC</string>
						<key>dateExpires</key>
						<string>02/08/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleToolboxForMac.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7BMX4SN26T</string>
						<key>name</key>
						<string>SANSKAR INFO TV PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.1.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>2.1.31</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E34DEEBC32E2D0818DD1403C7A51B5E9FBBC06AC</string>
						<key>dateExpires</key>
						<string>02/08/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>HyperSDK.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7BMX4SN26T</string>
						<key>name</key>
						<string>SANSKAR INFO TV PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E34DEEBC32E2D0818DD1403C7A51B5E9FBBC06AC</string>
						<key>dateExpires</key>
						<string>02/08/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7BMX4SN26T</string>
						<key>name</key>
						<string>SANSKAR INFO TV PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>6.5.6</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E34DEEBC32E2D0818DD1403C7A51B5E9FBBC06AC</string>
						<key>dateExpires</key>
						<string>02/08/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>JuspaySafeBrowser.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7BMX4SN26T</string>
						<key>name</key>
						<string>SANSKAR INFO TV PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E34DEEBC32E2D0818DD1403C7A51B5E9FBBC06AC</string>
						<key>dateExpires</key>
						<string>02/08/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MICountryPicker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7BMX4SN26T</string>
						<key>name</key>
						<string>SANSKAR INFO TV PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.1.9</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E34DEEBC32E2D0818DD1403C7A51B5E9FBBC06AC</string>
						<key>dateExpires</key>
						<string>02/08/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MMPlayerView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7BMX4SN26T</string>
						<key>name</key>
						<string>SANSKAR INFO TV PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>6.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E34DEEBC32E2D0818DD1403C7A51B5E9FBBC06AC</string>
						<key>dateExpires</key>
						<string>02/08/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MarqueeLabel.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7BMX4SN26T</string>
						<key>name</key>
						<string>SANSKAR INFO TV PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>4.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E34DEEBC32E2D0818DD1403C7A51B5E9FBBC06AC</string>
						<key>dateExpires</key>
						<string>02/08/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>OTPFieldView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7BMX4SN26T</string>
						<key>name</key>
						<string>SANSKAR INFO TV PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E34DEEBC32E2D0818DD1403C7A51B5E9FBBC06AC</string>
						<key>dateExpires</key>
						<string>02/08/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>PaddingLabel.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7BMX4SN26T</string>
						<key>name</key>
						<string>SANSKAR INFO TV PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E34DEEBC32E2D0818DD1403C7A51B5E9FBBC06AC</string>
						<key>dateExpires</key>
						<string>02/08/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7BMX4SN26T</string>
						<key>name</key>
						<string>SANSKAR INFO TV PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>3.17.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E34DEEBC32E2D0818DD1403C7A51B5E9FBBC06AC</string>
						<key>dateExpires</key>
						<string>02/08/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Razorpay.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7BMX4SN26T</string>
						<key>name</key>
						<string>SANSKAR INFO TV PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.10</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E34DEEBC32E2D0818DD1403C7A51B5E9FBBC06AC</string>
						<key>dateExpires</key>
						<string>02/08/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>ReadMoreTextView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7BMX4SN26T</string>
						<key>name</key>
						<string>SANSKAR INFO TV PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>3.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E34DEEBC32E2D0818DD1403C7A51B5E9FBBC06AC</string>
						<key>dateExpires</key>
						<string>02/08/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7BMX4SN26T</string>
						<key>name</key>
						<string>SANSKAR INFO TV PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>4.4.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E34DEEBC32E2D0818DD1403C7A51B5E9FBBC06AC</string>
						<key>dateExpires</key>
						<string>02/08/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Salvator.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7BMX4SN26T</string>
						<key>name</key>
						<string>SANSKAR INFO TV PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E34DEEBC32E2D0818DD1403C7A51B5E9FBBC06AC</string>
						<key>dateExpires</key>
						<string>02/08/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SlideMenuControllerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7BMX4SN26T</string>
						<key>name</key>
						<string>SANSKAR INFO TV PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>4.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E34DEEBC32E2D0818DD1403C7A51B5E9FBBC06AC</string>
						<key>dateExpires</key>
						<string>02/08/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>VerticalCardSwiper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7BMX4SN26T</string>
						<key>name</key>
						<string>SANSKAR INFO TV PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0.5.735</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E34DEEBC32E2D0818DD1403C7A51B5E9FBBC06AC</string>
						<key>dateExpires</key>
						<string>02/08/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>WowzaGoCoderSDK.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7BMX4SN26T</string>
						<key>name</key>
						<string>SANSKAR INFO TV PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E34DEEBC32E2D0818DD1403C7A51B5E9FBBC06AC</string>
						<key>dateExpires</key>
						<string>02/08/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>YouTubePlayer.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7BMX4SN26T</string>
						<key>name</key>
						<string>SANSKAR INFO TV PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.7.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E34DEEBC32E2D0818DD1403C7A51B5E9FBBC06AC</string>
						<key>dateExpires</key>
						<string>02/08/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>YoutubePlayer_in_WKWebView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7BMX4SN26T</string>
						<key>name</key>
						<string>SANSKAR INFO TV PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.3.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E34DEEBC32E2D0818DD1403C7A51B5E9FBBC06AC</string>
						<key>dateExpires</key>
						<string>02/08/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>youtube_ios_player_helper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7BMX4SN26T</string>
						<key>name</key>
						<string>SANSKAR INFO TV PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E34DEEBC32E2D0818DD1403C7A51B5E9FBBC06AC</string>
						<key>dateExpires</key>
						<string>02/08/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>7BMX4SN26T.com.sanskargroup.sanskarTV.NotificationServiceExetension</string>
						<key>com.apple.developer.team-identifier</key>
						<string>7BMX4SN26T</string>
						<key>get-task-allow</key>
						<true/>
					</dict>
					<key>name</key>
					<string>NotificationServiceExetension.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>5af24b0b-be01-49f1-9bad-3aff4b86767f</string>
						<key>dateExpires</key>
						<string>21/01/25</string>
						<key>name</key>
						<string>iOS Team Provisioning Profile: com.sanskargroup.sanskarTV.NotificationServiceExetension</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7BMX4SN26T</string>
						<key>name</key>
						<string>SANSKAR INFO TV PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.42</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E34DEEBC32E2D0818DD1403C7A51B5E9FBBC06AC</string>
						<key>dateExpires</key>
						<string>02/08/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>7BMX4SN26T.com.sanskargroup.sanskarTV.notificationContent</string>
						<key>com.apple.developer.team-identifier</key>
						<string>7BMX4SN26T</string>
						<key>get-task-allow</key>
						<true/>
					</dict>
					<key>name</key>
					<string>notificationContent.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>4298b8b3-bda3-43d5-ab04-73d06733e0e5</string>
						<key>dateExpires</key>
						<string>21/01/25</string>
						<key>name</key>
						<string>iOS Team Provisioning Profile: com.sanskargroup.sanskarTV.notificationContent</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7BMX4SN26T</string>
						<key>name</key>
						<string>SANSKAR INFO TV PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.33</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>7BMX4SN26T.com.sanskargroup.sanskarTV</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.applesignin</key>
				<array>
					<string>Default</string>
				</array>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:sanskargroup.page.link</string>
				</array>
				<key>com.apple.developer.networking.wifi-info</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>7BMX4SN26T</string>
				<key>com.apple.external-accessory.wireless-configuration</key>
				<true/>
				<key>com.apple.security.application-groups</key>
				<array>
					<string>group.com.sanskargroup.sanskarTV</string>
					<string>group.com.sanskargroup.sanskarTV.notificationService</string>
				</array>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Sanskar.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>ca7f6267-15b2-4b8d-95dc-8aa660152980</string>
				<key>dateExpires</key>
				<string>21/01/25</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.sanskargroup.sanskarTV</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>7BMX4SN26T</string>
				<key>name</key>
				<string>SANSKAR INFO TV PRIVATE LIMITED</string>
			</dict>
			<key>versionNumber</key>
			<string>1.46</string>
		</dict>
	</array>
</dict>
</plist>
